@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.div{

  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: 3px;
}

.div {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #252859;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1c1e42;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: white;
  
  padding: 10px;
  width: 320px;
  height: auto;
  font-style: normal;
}

.head1 {
  color: #3C3718;
  margin: 30px 0 50px 0;
}
.mytext{

  font-size: 10px;
}
.myinput {
  padding: 0 15px;
  width: 17rem;
  margin: 15px;
  height: 2rem;
  border-radius: 20px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(201, 206, 214);
  outline: none;
  color: black;
  transition: all 500ms ease-out;

}
.myinput:focus {
  border: 2px solid #3C3718;
}

.button {
  padding: 0 5px;
  width: -webkit-fill-available;
  margin: 1px;
  height:40px;
  border-radius: 20px;
  font-weight: bold;
  background: #252859;
  margin: 40px 15px 20px 15px;
  color: white;
  transition: all 500ms ease-out;
  animation: lights 4000ms infinite ease-in;
  border: 0;
}
.button:hover {
  border: 1px solid #E6F7D1;
  box-shadow: 0px 0px 10px 2px #E6F7D1;
  animation: none;
}

@keyframes lights {
  0% {
    box-shadow: 0px 0px 5px 2px #E6F7D1;
  }
  50% {
    box-shadow: 0px 0px 5px 2px #3C3718;
  }
  70% {
    box-shadow: 0px 0px 5px 2px #64896A;
  }
  100% {
    box-shadow: 0px 0px 5px 2px #E6F7D1;
  }
}
.link a {
  color: #E6F7D1;
  text-decoration: none;
  font-size: 10px;
  font-weight: bolder;
  opacity: 0.6;
  transition: all 300ms ease-in-out;
}
a:hover {
  opacity: 0.9;
}